.loginCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--fs33);
    flex: 1;
    padding-top: var(--fs64);
}
.loginForm {
    display: flex;
    flex-direction: column;
    gap: var(--fs64);
}
.signUpPrompt {
    align-self: flex-end;
    text-align: center;
}
.signUpPrompt p {
    font-size: var(--fs20);
}
.signUpPrompt a {
    color: inherit;
    text-decoration: none;
    text-shadow: 0 4px 4px var(--neutral-colors-sand-brown);
    transition: 0.3s;
}
.signUpPrompt a:hover {
    text-shadow: 0 4px 4px var(--main-colors-accent);
}
.btnWrapper {
    bottom: var(--fs26);
    display: flex;
    gap: var(--fs12);
}
