.myPageCon {
    padding: var(--fs20) 0 0;
    display: flex;
    flex-direction: column;
    gap: var(--fs20);
    overflow: hidden;
}
.userInfo {
    display: flex;
    flex-direction: column;
    gap: var(--fs12);
    border-bottom: 1px solid var(--neutral-colors-light-gray);
    padding-bottom: var(--fs12);
}
.nickname {
    font-size: var(--fs20);
}

.petInfo > span:nth-of-type(1) {
    color: var(--neutral-colors-maroon);
}
.actionItem {
    align-self: flex-end;
    color: var(--neutral-colors-maroon);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    cursor: pointer;
}
.actionItem:hover {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: var(--font-goyang);
    margin-bottom: var(--fs16);
}
.myContentsCon {
    display: flex;
    flex-direction: column;
    gap: var(--fs20);
    padding: 10px;
}
.myContentsWrapper {
    overflow: hidden;
}
.myContentsWrapper > p {
    text-align: center;
    font-family: var(--font-goyang);
    color: #888;
    margin: 55px 0;
}

.accountActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--fs33);
    margin-top: var(--fs26);
    padding: var(--fs16) 0;
    border-top: 1px solid var(--neutral-colors-light-gray);
}
