* {
    max-width: 375px;
    max-height: 812px;
    margin: 0 auto;
    padding: var(--fs4);
}

.ttsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--fs8) 0;
    background-color: var(--neutral-colors-cream-beige);
}

.ttsWrap button {
    position: absolute;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    left: 40%;
}
