/* 작성자 정보 컨테이너 */
.writerInfoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들 사이에 공간 배분 */
    padding: var(--fs8) 0;
    margin-bottom: var(--fs12);
    flex-wrap: nowrap;
}

.writerNicknameWrap,
.postDateWrap,
.starWrap,
.likeWrap {
    max-width: 480px;
    display: flex;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

/* 첫 번째 요소에는 왼쪽 패딩 제거 */
.writerNicknameWrap {
    padding-left: 0;
}

/* 마지막 요소에는 오른쪽 패딩 제거 */
.likeWrap {
    right: var(--fs8);
    padding-right: 0;
}

/* 세로선 추가 */
.postDateWrap::before,
.starWrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px; /* 세로선 높이 */
    width: 1px; /* 세로선 너비 */
}

/* 닉네임 스타일 */
.writerNicknameWrap span {
    font-weight: bold;
    text-align: left;
}

/* 작성일 스타일 */
.postDateWrap {
    color: #777;
}

/* 별점 스타일 */
.starWrap span {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* 별 이미지 스타일 */
.starWrap img {
    width: 30px;
    height: 30px;
}

/* 좋아요 스타일 */
.likeWrap span {
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* 하트 이미지 스타일 */
.likeWrap img {
    width: 30px;
    height: 30px;
}

/* 기본 정보 목록 */
.infoListWrap {
    background: var(--neutral-colors-cream-beige);
    height: auto;
    margin: var(--fs12) 0;
    border-radius: 6px;
}

.infoListWrap ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.infoListWrap li {
    font-size: var(--fs20);
    margin-bottom: 8px;
    line-height: 1.5;
}

.infoListWrap li:last-child {
    margin-bottom: 0;
}

.ingredentTitle {
    font-size: var(--fs26);
    font-weight: bold;
    display: block;
    margin: 24px 0 12px;
}

/* TTS 컴포넌트 */
.ttsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--fs8) 0;
    background-color: var(--neutral-colors-cream-beige);
    padding: var(--fs8) var(--fs12);
    border-radius: 6px;
    position: relative;
    min-height: 50px;
}

.ttsWrap :global(button) {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTitle {
    display: flex;
    white-space: nowrap;
    text-align: left;
}
