/* Search.module.css */
.pageContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.filterButtonWrapper {
    align-self: flex-end;
}

.resultsList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 가로 2개 고정 */
    gap: 16px;
}

.searchStatus,
.searchStatusError {
    padding: 20px;
    text-align: center;
    color: #555;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 10px; /* 제목과의 간격 */
}
.searchStatusError {
    color: #d9534f;
    background-color: #f2dede;
}
/* 모달 내부 */
.filterSection {
    margin-bottom: 20px;
}

.filterTitle {
    font-family: 'Goyang';
    margin-bottom: 20px;
}

.filterOptionsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.filterInfo,
.filterError {
    font-size: 0.9em;
    color: #777;
    padding: 5px 0;
}
.filterError {
    color: #d9534f;
}

.modalActions {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalMainActions {
    display: flex;
    gap: 10px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.paginationContainer :global(.page-item .page-link) {
    color: var(--neutral-colors-sand-brown); 
    background-color: transparent;    
    border: none;                     
    border-radius: 1rem;           
    transition: background-color 0.15s, color 0.15s; 
    text-align: center;
    font-weight: bold;
}

/* 숫자 페이지 링크 호버 시 */
.paginationContainer :global(.page-item:not(.active):not(.disabled) .page-link:not([aria-label]):hover) {
    background-color: var(--neutral-colors-cream-beige);
    color: var(--neutral-colors-maroon);
}

/* 페이지네이션 아이템 클릭(포커스) 시 나타나는 테두리/그림자 제거 */
.paginationContainer :global(.page-item .page-link:focus) {
  box-shadow: none;  
}