.btn {
    width: 100%;
    outline: none;
    border: none;
    font-family: var(--font-roboto);
    border-radius: var(--fs8);
    padding: var(--fs12) var(--fs16);
    font-size: var(--fs20);
    cursor: pointer;
    transition: filter 0.2s;
}
.btn:hover,
.btn:active {
    filter: brightness(90%);
}
.btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    filter: none;
}

/* 색상 */
.default {
    background-color: var(--neutral-colors-light-gray);
}
.accent {
    background-color: var(--main-colors-accent);
    color: white;
}
.sandBrown {
    background-color: var(--neutral-colors-sand-brown);
    color: white;
}
.brown {
    background-color: var(--neutral-colors-maroon);
    color: white;
}
.red {
    background-color: var(--service-colors-errors);
    color: white;
}

/* 사이즈 */
.md {
    /* padding: var(--fs8) var(--fs16); */
    font-size: var(--fs12);
}
.sm {
    width: auto;
    font-size: var(--fs12);
}
