.commentCon {
    flex-direction: column;
    gap: var(--fs8);
    font-weight: bold;
}
.commentLabel {
    font-size: var(--fs26);
    border-bottom: 1px solid #eae4dc;
}

.bar {
    border: 1px solid var(--neutral-colors-light-gray);
}
.inputWrapper {
    display: flex;
    padding: var(--fs4) var(--fs12);
}
.userCon {
    display: flex;
    align-items: center;
    justify-self: center;
}
.inputWrapper .userCon > span {
    font-size: var(--fs12);
}
.ratingWrapper {
    display: flex;
    gap: var(--fs8);
}
.commentForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--fs8);
}
.commentForm > button {
    padding-right: var(--fs16);
    align-self: flex-end;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Goyang', sans-serif;
    cursor: pointer;
    transition: scale 0.3s;
}
.commentForm > textarea {
    outline: none;
    border: none;
    border-radius: var(--fs8);
    background-color: var(--neutral-colors-light-gray);
    resize: none;
    padding: var(--fs16);
    height: var(--fs64);
}
.commentForm > button:hover {
    scale: 1.1;
}
/* 댓글쪽 스타일링 */
.commentWrapper {
    display: flex;
    position: relative;
}

.userCon {
    width: 130px;
}

.msgCon {
    width: 250px;
    display: flex;
    margin-left: var(--fs12);
}

.userCon::after {
    content: '';
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    height: 20px; /* 세로선 높이 */
    width: 1px; /* 세로선 너비 */
    background-color: var(--main-colors-pink); /* 세로선 색상 */
}
