.floatingBtnWrapper {
    position: fixed;
    bottom: 90px;
    right: calc((100vw - 480px) / 2 + var(--fs33));
    z-index: 9998;
}
.floatingBtn {
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: var(--main-colors-accent);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.floatingBtn:hover {
    filter: brightness(90%);
}

@media (max-width: 480px) {
    .floatingBtnWrapper {
        right: var(--fs33);
    }
}
