.menu {
    display: flex;
    width: 100%;
    max-width: 480px;
    border-top: 1px solid #e0e0e0; /* 상단 테두리  */
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 9998; /*모달에안보이게*/
    background-color: var(--neutral-colors-white);
    left: 50%;
    transform: translateX(-50%);
}

.normal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
}

.normal svg {
    width: 100%;
    stroke: var(--neutral-colors-gray);
    fill: var(--neutral-colors-white);
    color: var(--neutral-colors-gray);
    transition: color 0.2s ease;
}

.normal span {
    color: var(--neutral-colors-gray);
    transition: color 0.3s;
}

.active svg {
    stroke: var(--main-colors-accent);
}

.active span {
    color: var(--main-colors-accent);
}
