.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--fs33);
}

.modalCon {
    width: 100%;
    max-width: 430px;
    min-height: 290px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: var(--fs16);
    background-color: var(--neutral-colors-white);
    padding: var(--fs20);
    font-size: var(--fs20);
    overflow: hidden;
}

.scrollArea {
    overflow-y: auto;
    max-height: 100%;
    padding: 0 var(--fs16);
}
