.tagCon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--fs4);
    padding: 4px 10px;
    border-radius: var(--fs33);
    background-color: var(--main-colors-accent);
    color: var(--neutral-colors-white);
}

.tagCon span {
    font-size: 0.8rem; 
    line-height: 1.2; 
}

.tagCon i {
    cursor: pointer;
    padding: 0 0;
    color: #fff;
    transition: transform 0.3s ease-out;
    display: flex;
    align-items: center;
}

.tagCon i img {
    filter: brightness(0) invert(1);
}

.tagCon i:hover {
    transform: rotate(15deg);
    color: #fff;
}
